<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internship Recommendation Portal</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">

    <!-- CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<!-- TOP RIGHT PROFILE MENU -->
<div class="top-nav">
    <div class="profile-wrapper">
        <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png"
             class="profile-icon"
             onclick="toggleMenu()">

        <div id="profileDropdown" class="profile-dropdown">
            <a href="#">Need Support</a>
            <a href="#">Internship Registration</a>
            <a href="#">Collaboration</a>
            <a href="#">About Project</a>
            <hr>
            <a href="#" class="logout">Logout</a>
        </div>
    </div>
</div>


    <div class="container">
        <h1>Internship Recommendation Portal</h1>

        <form action="/recommend" method="post">
            <input type="text" name="skills" placeholder="e.g. Python, HTML" required>
            <input type="text" name="interest" placeholder="e.g. Data, ML" required>
            <button type="submit">Get Recommendation</button>
        </form>
    </div>
<footer class="footer">
    Developed by <span>Mohammad Meraj</span>
</footer>

<script>
function toggleMenu() {
    document.getElementById("profileDropdown")
            .classList.toggle("show");
}
</script>

</body>
</html>


